{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Categorias{% endblock %}</h1>
{% if g.user['funcao'] == 'admin' %}
<a class="action" href="{{ url_for('categoria.create') }}">Nova categoria</a>
{% endif %}
{% endblock %}

{% block content %}
{% for categoria in categorias %}
<article class="categoria">
    <header>
        <div>
            <h1>{{ categoria['nome'] }}</h1>
            <p></p>
        </div>
    </header>
    {% if g.user['funcao'] == 'admin' %}
    <a class="action" href="{{ url_for('categoria.update', id=categoria['id']) }}">Editar</a>
    {% endif %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}