{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Editar "{{ livro['titulo'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="titulo">Titulo</label>
    <input name="titulo" id="titulo" value="{{ request.form['titulo'] or livro['titulo'] }}" required>
    <label for="autor">Autor</label>
    <input name="autor" id="autor" value="{{ request.form['autor'] or livro['autor'] }}" required>
    <label for="descricao">Descricao</label>
    <textarea name="descricao" id="descricao">{{ request.form['descricao'] or livro['descricao'] }}</textarea>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('livro.delete', ISBN=livro['ISBN']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Tem certeza?');">
</form>
{% endblock %}