{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Emprestimos{% endblock %}</h1>
{% if g.user['funcao'] == 'admin' %}
<a class="action" href="{{ url_for('emprestimo.select') }}">Novo Emprestimo</a>
{% endif %}
{% endblock %}

{% block content %}
<ul>
    {% for emprestimo in emprestimos %}
    <li>
        {{ item_nomes[emprestimo['id_item']] }} - {{ usuarios_nomes[emprestimo['id_item']] }} - {{ emprestimo['status']
        }}
        - Aquisição: {{ emprestimo['data_emprestimo'].strftime('%d/%m/%Y') }}
        - Devolução: {{ emprestimo['data_devolucao'].strftime('%d/%m/%Y') }}
    </li>
    <hr />
    {% endfor %}
</ul>
<hr>
{% endblock %}