{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Editar"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="status">Status</label>
    <input name="status" id="status" value="{{ request.form['status'] or emprestimo['status'] }}" required>

    <label for="data_emprestimo">Data de Emprestimo</label>
    <input type="date" name="data_emprestimo" id="data_emprestimo"
        value="{{ request.form['data_emprestimo'] or emprestimo['data_emprestimo'] }}">

    <label for="data_devolucao">Data de Devolucao</label>
    <input type="date" name="data_devolucao" id="data_devolucao"
        value="{{ request.form['data_devolucao'] or emprestimo['data_devolucao'] }}">
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('emprestimo.delete', id_usuario=emprestimo['id_usuario'], id_item=emprestimo['id_item']) }}"
    method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Tem certeza?');">
</form>
{% endblock %}