{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Materiais didáticos{% endblock %}</h1>
{% if g.user['funcao'] == 'admin' %}
<a class="action" href="{{ url_for('didatico.create') }}">Novo Material didático</a>
{% endif %}
{% endblock %}

{% block content %}
{% for didatico in didaticos %}
<article class="didatico">
    <header>
        <div>
            <h1>{{ didatico['descricao'] }}</h1>
            {% if didatico['url_foto_material'] %}
            <img src="{{didatico['url_foto_material']}}" style="max-width: 200px;" />
            {% endif %}
            <p>Número de série: {{ didatico['numero_serie'] }}</p>
            <p>Data da aquisição: {{ didatico['data_aquisicao'] }}</p>
            <p>Estado de conservação: {{ didatico['estado_conservacao'] }}</p>
            {% for categoria in categorias %}
                {% if categoria['id'] == didatico['categoria'] %}
                    <p>Categoria: {{ categoria['nome'] }}</p>
                {% endif %}
            {% endfor %}
            {% for local in locais %}
                {% if local['id'] == didatico['localizacao_fisica'] %}
                    <p>local: {{ local['nome'] }}</p>
                {% endif %}
            {% endfor %}
            <p></p>
        </div>
    </header>
    {% if g.user['funcao'] == 'admin' %}
    <a class="action" href="{{ url_for('didatico.update', ID=didatico['ID']) }}">Editar</a>
    {% endif %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}