{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Materiais didáticos{% endblock %}</h1>
{% if g.user['funcao'] == 'admin' %}
<a class="action" href="{{ url_for('didatico.create') }}">Novo Material didático</a>
{% endif %}
{% endblock %}

{% block content %}
<form method="POST">
    <input type="text" name="filtro" placeholder="Pesquisar..." />

    <div style="display: flex;">
        <span style="color: #555">Filtrar por: </span>
        
        <input type="radio" name="filtroLabel" value="descricao">
        <label for="descricao">Descrição</label>
        <input type="radio" name="filtroLabel" value="numero_serie">
        <label for="numero_serie">Número de série</label><br>
        <input type="radio" name="filtroLabel" value="estado_conservacao">
        <label for="estado_conservacao">Estado de conservação</label>
    </div>

    <input type="submit" value="Buscar" />
</form>

{% if not filtrados %}
{% for didatico in didaticos %}
<article class="didatico">
    <header>
        <div>
            <h1>{{ didatico['descricao'] }}</h1>
            {% if didatico['url_foto_material'] %}
            <img src="{{didatico['url_foto_material']}}" style="max-width: 200px;" />
            {% endif %}
            <p>Número de série: {{ didatico['numero_serie'] }}</p>
            <p>Data da aquisição: {{ didatico['data_aquisicao'] }}</p>
            <p>Estado de conservação: {{ didatico['estado_conservacao'] }}</p>
            {% for categoria in categorias %}
                {% if categoria['id'] == didatico['categoria'] %}
                    <p>Categoria: {{ categoria['nome'] }}</p>
                {% endif %}
            {% endfor %}
            {% for local in locais %}
                {% if local['id'] == didatico['localizacao_fisica'] %}
                    <p>local: {{ local['nome'] }}</p>
                {% endif %}
            {% endfor %}
            <p></p>
        </div>
    </header>
    {% if g.user['funcao'] == 'admin' %}
    <a class="action" href="{{ url_for('didatico.update', ID=didatico['ID']) }}">Editar</a>
    {% endif %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

{% elif filtrados %}
{% for filtrado in filtrados %}
<article class="livro">
    <header>
        <div>
            <h1>{{ filtrado['descricao'] }}</h1>
            {% if filtrado['url_foto_material'] %}
            <img src="{{filtrado['url_foto_material']}}" style="max-width: 200px;" />
            <p></p>
            {% endif %}
            <div>Número de série: {{ filtrado['numero_serie'] }}</div>
            <p></p>
            <div class="from">data da aquisição: {{ filtrado['data_aquisicao'] }}</div>
            <p></p>
            <div>Estado de conservação: {{ filtrado['estado_conservacao'] }}</div>
            <p></p>
            {% for categoria in categorias %}
            {% if categoria['id'] == filtrado['categoria'] %}
            <p>Categoria: {{ categoria['nome'] }}</p>
            {% endif %}
            {% endfor %}
            {% for local in locais %}
            {% if local['id'] == filtrado['localizacao_fisica'] %}
            <p>local: {{ local['nome'] }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </header>
    <p></p>
    {% if g.user['funcao'] == 'admin' %}
    <a class="action" href="{{ url_for('didatico.update', ID=filtrado['ID']) }}">Editar</a>
    {% endif %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}

{% endif %}
{% endblock %}