{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Editar "{{ didatico['descricao'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="descricao">Material didático</label>
    <input name="descricao" id="descricao" value="{{ request.form['descricao'] or didatico['descricao'] }}" required>

    <label for="numero_serie">Número de Série</label>
    <input name="numero_serie" id="numero_serie" value="{{ request.form['numero_serie'] or didatico['numero_serie'] }}" required>

    <label for="data_aquisicao">Data de Aquisição</label>
    <input type="date" name="data_aquisicao" id="data_aquisicao" value="{{ request.form['data_aquisicao'] or didatico['data_aquisicao'] }}" required>

    <label for="estado_conservacao">Estado de Conservação</label>
    <input name="estado_conservacao" id="estado_conservacao" value="{{ request.form['estado_conservacao'] or didatico['estado_conservacao'] }}" required>

    <label for="url_foto_material">URL da Foto do Material</label>
    <input name="url_foto_material" id="url_foto_material" value="{{ request.form['url_foto_material'] or didatico['url_foto_material'] }}" required>

    <label for="categoria">Categoria</label>
    <select id="categoria" name="categoria">
        {% for categoria in categorias %}
            <option value="{{ categoria['id'] }}" {% if categoria['id'] == didatico['categoria'] %}selected{% endif %}>
                {{ categoria['nome'] }}
            </option>
        {% endfor %}
    </select>

    <label for="localizacao_fisica" style="margin-top: 15px;">Local físico</label>
        <select id="localizacao_fisica" name="localizacao_fisica">
            {% for local in locais %}
                <option value="{{ local['id'] }}" {% if local['id'] == didatico['localizacao_fisica'] %}selected{% endif %}>
                    {{ local['nome'] }}
                </option>
            {% endfor %}
        </select>
    <p></p>

    <input type="submit" value="Save" required>
</form>
<hr>
<form action="{{ url_for('didatico.delete', ID=didatico['ID']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Tem certeza?');">
</form>

<button>
    <a 
        style="text-decoration: none; padding: 0 42px;" 
        href="{{url_for('didatico.index')}}"
    >
        Voltar
    </a>
</button>
{% endblock %}
